:root {
  --ming-toast-font-family: inherit;
  --ming-toast-message-font-size: 14px;
  --ming-toast-message-font-weight: 500;
  --ming-toast-description-font-size: 12px;
  --ming-toast-description-font-weight: 400;
}

:where([data-ming-toast-toaster]) {
  --toast-icon-margin-start: -3px;
  --toast-icon-margin-end: 4px;
  --toast-svg-margin-start: -1px;
  --toast-svg-margin-end: 0px;
  --red1: #ff4343;
  --gray1: #bdc2ce;
  --gray2: #1c1d23;
  --gray3: #d5d8e1;
  --black: rgba(0, 0, 0, 0.8);
  --yellow1: #ff7e07;
  --green1: #15bc30;
  --white1: #ffffff;
  --offset: 32px;
  --z-index: 999999999;
}

:where([data-ming-toast-toaster]) {
  font-family: var(--ming-toast-font-family);
  position: fixed;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  z-index: var(--z-index);
}

:where([data-ming-toast-toaster][data-x-position="right"]) {
  right: var(--offset);
}

:where([data-ming-toast-toaster][data-x-position="left"]) {
  left: var(--offset);
}

:where([data-ming-toast-toaster][data-x-position="center"]) {
  left: 50%;
  transform: translateX(-50%);
}

:where([data-ming-toast-toaster][data-y-position="top"]) {
  top: var(--offset);
}

:where([data-ming-toast-toaster][data-y-position="bottom"]) {
  bottom: var(--offset);
}

:where([data-ming-toast-item]) {
  --width-snackbar: 400px;

  background-color: var(--gray2);
  color: white;
  display: flex;
  position: relative;
  padding: 10px 14px;
  box-sizing: border-box;

  animation: toastEnter 0.07s ease-out forwards;
}

:where([data-ming-toast-item].removing) {
  animation: toastExit 0.1s ease-out forwards;
}

:where([data-ming-toast-item]) :where([data-toast-content]) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

:where([data-ming-toast-item]) :where([data-delete-button]) {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}
:where([data-ming-toast-item]) :where([data-title]) {
  font-size: var(--ming-toast-message-font-size);
  font-weight: var(--ming-toast-message-font-weight);
}

:where([data-ming-toast-item]) :where([data-description]) {
  font-size: var(--ming-toast-description-font-size);
  font-weight: var(--ming-toast-description-font-weight);
  color: var(--gray3);
}

:where([data-ming-toast-item][data-type="error"]) {
  min-width: var(--width-snackbar);
  border-left: 4px solid var(--red1);
  gap: 8px;
  padding: 12px 30px 12px 10px;
}
:where([data-ming-toast-item][data-type="info"]) {
  min-width: var(--width-snackbar);
  border-left: 4px solid var(--gray1);
  gap: 8px;
  padding: 12px 30px 12px 10px;
}
:where([data-ming-toast-item][data-type="warning"]) {
  min-width: var(--width-snackbar);
  border-left: 4px solid var(--yellow1);
  gap: 8px;
  padding: 12px 30px 12px 10px;
}
:where([data-ming-toast-item][data-type="success"]) {
  min-width: var(--width-snackbar);
  border-left: 4px solid var(--green1);
  gap: 8px;
  padding: 12px 30px 12px 10px;
}

:where([data-ming-toast-item][data-type="message"]) {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: var(--ming-toast-message-font-size);
  letter-spacing: -2%;
  min-width: 328px;
}

:where([data-ming-toast-item][data-type="message"]) :where([data-title]) {
  display: flex;
  align-items: center;
  padding: 4px 16px;
}
:where([data-ming-toast-item][data-type="message"])
  :where([data-delete-button]) {
  display: none;
}
:where([data-ming-toast-item][data-type="message"]) :where([data-toast-icon]) {
  display: none;
}
@keyframes toastEnter {
  0% {
    opacity: 0;
    transform: scale(0.6);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

@keyframes toastExit {
  0% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
    filter: blur(10px);
  }
}
