:where([data-wemeet-toast-toaster]) {
  --toaster-width: 480px;
  --toast-icon-margin-start: -3px;
  --toast-icon-margin-end: 4px;
  --toast-svg-margin-start: -1px;
  --toast-svg-margin-end: 0px;
  /* --toast-button-margin-start: auto;
  --toast-button-margin-end: 0;
  --toast-close-button-start: 0;
  --toast-close-button-end: unset;
  --toast-close-button-transform: translate(-35%, -35%); */
  --red1: #ff4343;
  --gray1: #bdc2ce;
  --gray2: #1c1d23;
  --gray3: #d5d8e1;
  --black: rgba(0, 0, 0, 0.8);
  --yellow1: #ff7e07;
  --green1: #15bc30;
  --white1: #ffffff;
  --offset: 32px;
  --z-index: 9999999;
  --width: 420px;
  --gap: 14px;
  --width-snackbar: 480px;
  --height-snackbar: 62px;
}

:where([data-wemeet-toast-toaster]) {
  --toast-font-family: inherit;
  position: fixed;

  font-family: var(--toast-font-family);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  z-index: 999999999;
}

:where([data-wemeet-toast-toaster][data-x-position="right"]) {
  right: var(--offset);
}

:where([data-wemeet-toast-toaster][data-x-position="left"]) {
  left: var(--offset);
}

:where([data-wemeet-toast-toaster][data-x-position="center"]) {
  left: 50%;
  transform: translateX(-50%);
}

:where([data-wemeet-toast-toaster][data-y-position="top"]) {
  top: var(--offset);
}

:where([data-wemeet-toast-toaster][data-y-position="bottom"]) {
  bottom: var(--offset);
}

:where([data-wemeet-toast-item]) {
  background-color: var(--gray2);
  color: white;
  display: flex;
  position: relative;
  padding: 10px 14px;
  box-sizing: border-box;
}

:where([data-wemeet-toast-item]) :where([data-toast-content]) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

:where([data-wemeet-toast-item]) :where([data-delete-button]) {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}
:where([data-wemeet-toast-item]) :where([data-title]) {
  font-size: 14px;
  font-weight: 500;
}

:where([data-wemeet-toast-item]) :where([data-description]) {
  font-size: 12px;
  font-weight: 400px;
  color: var(--gray3);
}

:where([data-wemeet-toast-item][data-type="error"]) {
  min-width: var(--width-snackbar);
  border-left: 4px solid var(--red1);
  gap: 8px;
  height: var(--height-snackbar);
}
:where([data-wemeet-toast-item][data-type="info"]) {
  min-width: var(--width-snackbar);
  border-left: 4px solid var(--gray1);
  gap: 8px;
  height: var(--height-snackbar);
}
:where([data-wemeet-toast-item][data-type="warning"]) {
  min-width: var(--width-snackbar);
  border-left: 4px solid var(--yellow1);
  gap: 8px;
  height: var(--height-snackbar);
}
:where([data-wemeet-toast-item][data-type="success"]) {
  min-width: var(--width-snackbar);
  border-left: 4px solid var(--green1);
  gap: 8px;
  height: var(--height-snackbar);
}

:where([data-wemeet-toast-item][data-type="message"]) {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -2%;
  min-width: 328px;
}

:where([data-wemeet-toast-item][data-type="message"]) :where([data-title]) {
  height: 25px;
  display: flex;
  align-items: center;
}
:where([data-wemeet-toast-item][data-type="message"])
  :where([data-delete-button]) {
  display: none;
}
:where([data-wemeet-toast-item][data-type="message"])
  :where([data-toast-icon]) {
  display: none;
}
